{% extends "layout_dwp.html" %}{% block page_title %}
  DWP content design patterns
{% endblock %}{% block content %}
<main id="content" role="main">
  <div id="manuals-frontend">
    <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
      <div class="js-title-controls-wrap">
        <div class="js-collection-controls">
          <a href="#" aria-hidden="true" class="">Open all</a>
          <a href="#" aria-hidden="true" class="disabled">Close all</a>
        </div>
      </div>
      <div class="collapsible-subsections">
        <div class="govuk-govspeak rich-govspeak">
          <div class="js-openable closed">
          	<h2 id="about-the-a-to-z" class="js-subsection-title">About the A to Z<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="a" class="js-subsection-title">a<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="b" class="js-subsection-title">b<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="c" class="js-subsection-title">c<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="d" class="js-subsection-title">d<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>DWP - don't use the definite article when writing out in full, it's simply Department for Work... not THE Department for Work... Avoid using 'we' to refer to DWP.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="e" class="js-subsection-title">e<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="f" class="js-subsection-title">f<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="g" class="js-subsection-title">g<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="h" class="js-subsection-title">h<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="i" class="js-subsection-title">i<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="j" class="js-subsection-title">j<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="k" class="js-subsection-title">k<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="l" class="js-subsection-title">l<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Licence - is a noun</p>
                    <p>License - is a verb</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="m" class="js-subsection-title">m<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="n" class="js-subsection-title">n<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="o" class="js-subsection-title">o<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="p" class="js-subsection-title">p<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>People - the preferred term for citizens or users.</p>
                    <p>Please - don't use please (or thank you). It reduces authority and is insincere. The relationship between citizens and government is not one where gratitude or pleading is appropriate on either side.</p>
                    <p>Pronouns - users of services are referred to in the second person apart from in legal declarations when you should use the first person. Avoid using plural pronouns (we and us) for government unless not doing so would result in a passive construction. Preferably keep the user as the focus, eg say 'you'll get' rather than 'we'll send'.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="q" class="js-subsection-title">q<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="r" class="js-subsection-title">r<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="s" class="js-subsection-title">s<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Sorry - only say sorry when something has gone wrong that's the fault of the service. For example a 500 page error because of server outage.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="t" class="js-subsection-title">t<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="u" class="js-subsection-title">u<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Users - refer to people as users when you're talking about reseaech observations that are specific to a particular service, eg 'users of Carer's Allowance prefer to put their name in separate fields', otherwise use 'people' or 'citizens'.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="v" class="js-subsection-title">v<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="w" class="js-subsection-title">w<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="x" class="js-subsection-title">x<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="y" class="js-subsection-title">y<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Yes - if using yes and no boolean constructions be aware users usually want to answer 'yes' - design with data and make the most common case the 'yes' path unless you have user evidence it doesn't work.</p> 
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="z" class="js-subsection-title">z<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
        </div>
      </div>
</div>
<!-- #manuals-frontend -->
</main>
{% endblock %}
