{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP content design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="back-link">
          <a href="/">Back</a></p>
        </div>
        <h1 class="heading-xlarge">Declarations</h1>
        <p class="lede">
       The user needs to know that the information they give must be true, and the consequences of giving false information. 
        </p>
        <hr />
      </div><!-- end column-two-thirds -->
    </div><!-- end grid row -->
      <div class="grid-row">
    <details role="group" open="">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Show and hide examples</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">Example 1</a>
              <a href="#" class="tab-link">Example 2</a>
            </div>
            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
                  <h2 class="heading-medium">Simple declaration</h2>
                <div class="example">
                  <div class="back-link">
                  <a href="">Back</a></p>
                  </div>
                  <h1 class="heading-xlarge">Declaration</h1>
                  <p class="text">By sending this application you agree:</p>
                  <ul class="list-bullet">
                    <li>the information is correct and complete as far as you know</li>
                    <li>to pay back any money you're overpaid if you're asked to</li>
                    <li>to report changes of circumstances or those of the person you care for promptly either <a href="" rel="external">online</a> or by contacting the <a href="" rel="external">{Carer's Allowance} team</a></li>
                    <li>to the <a href=''>email terms</a></li>
                    <li>the {Carer's Allowance} team can check your details with other government departments if needed</li>

                  </ul>
                  <div class="legal_message">You could be taken to court and have to pay a financial penalty if you deliberately give wrong or incomplete information or don't report changes. Your {name of benefit} may also be stopped or reduced.
                  </div>
                  <p><a href="" class="button">I agree - send my application</a></p>
                </div><!-- end example -->
              </div>
              <div class="tab-pane" style="display: none;">
                  <h2 class="heading-medium">Consent and declaration, user needs to make a secondary interaction</h2>
                  <div class="example">
                    <div class="back-link">
                    <a href="">Back</a></p>
                    </div>
                  <h1 class="heading-xlarge">Consent and declaration</h1>
                  <form>
                    <fieldset class="inline">
                      <legend>Do you agree to the Carer's Allowance unit contacting anyone mentioned in this form?</legend>
                      <label class="block-label" for="radio-inline-1">
                      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes</label>
                      <label class="block-label" for="radio-inline-2">
                      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No</label>
                    </fieldset>
                  
                  <p class="text">By sending this application you agree:</p>
                  <ul class="list-bullet">
                    <li>the information is correct and complete as far as you know</li>
                    <li>to pay back any money you're overpaid if you're asked to</li>
                    <li>to report changes of circumstances or those of the person you care for promptly either <a href="" rel="external">online</a> or by contacting the <a href="" rel="external">{Carer's Allowance} team</a></li>
                    <li>to the <a href=''>email terms</a></li>
                    <li>the {Carer's Allowance} team can check your details with other government departments if needed</li>
                  </ul>
                  <div class="legal_message">You could be taken to court and have to pay a financial penalty if you deliberately give wrong or incomplete information or don't report changes. Your {name of benefit} may also be stopped or reduced.
                  </div>
                  <input type="button" value="I agree - send my application" class="button">
                  </form>

            </div>
          </div>
          </div>
        </div>
      </details>
    </div><!-- end grid-row -->
    <div class="grid-row">
      <div class="column-two-thirds">
                  <h1 class="heading-xlarge">Content notes</h1>
                  <p>Refer to the user in the second person apart from in the action text.</p>
                  <p>Use bullets introduced by the text 'By sending this [application] you agree:' and list any conditions of applying.</p>
                  </p>
                  <p>If reporting changes is required this should give an example of what and explain how.</p>
                  <p>Use links for explanatory content - the declaration only has to give the user <em>opportunity</em> to read terms, not contain them itself.</p>
                  <p>The number of conditions may vary - only list the conditions that apply to your service (5 standard messages are given in the examples).</p>
                  <p>Any other content should be placed above the legal declaration.</p>
                  <p>The risks and consequences should include the warning call out style (an exclamation mark).</p>
                  <p>Avoid the word 'prosecute' unless you get specific legal advice otherwise.</p>
                                    <p>Don't use a check box - the action button represents positive action and acceptance.</p>
                                    <p>The text of the action button should be in the first person 'I agree'.</p>

    </div><!-- end column-two-thirds --> 
  </div><!-- end grid-row -->
  </main>
{% endblock %}
