{% extends "layout_dwp.html" %}

{% set serviceName = 'Content Design Patterns' %}

{% block page_title %}
  Content Design Patterns
{% endblock %}

{% block content %}
<main id="content" role="main">
  
  <h1 class="heading-large">Content style guide</h1>
  <div class="grid-row">    
    <div class="column-two-thirds"> 
      <p class="lede">This guide covers style, spelling and grammar conventions for all content published by Department for Work and Pensions (DWP). These patterns are based on the research and experience of the DWP content community. </p>
      <p>You should use this guide to build on the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a> and <a href="http://dwp-patterns.herokuapp.com">DWP design patterns.</a> If you can’t find the pattern you’re looking for here, we’re discussing more on the DWP content channel in Slack. </p>
    </div><!-- col -->
  </div><!-- row -->

  <div style="clear:both"></div>

  <div id="manuals-frontend">
    <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
      <div class="js-title-controls-wrap clearfix js-hidden">
        <div class="js-collection-controls">
          <a href="#" aria-hidden="true" class="">Open all</a>
          <a href="#" aria-hidden="true" class="disabled">Close all</a>
        </div>
      </div>
      <div class="collapsible-subsections">
        <div class="govuk-govspeak rich-govspeak">
          <div class="js-openable closed">
          	<h2 id="about-the-a-to-z" class="js-subsection-title">About the A to Z<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="a" class="js-subsection-title">a<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="b" class="js-subsection-title">b<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="c" class="js-subsection-title">c<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
              <p>Citizens - mainstream users of services, using 'people' is better.</p>
              <p>Common case - design for the common case, this means everyone who's at a certain point, not the majority. If there's a significant minority at a certain point, they need something or should have been branched off before getting here.</p>
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="d" class="js-subsection-title">d<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>DWP - don't use the definite article when writing out in full, it's simply Department for Work... not THE Department for Work... Avoid using 'we' to refer to DWP, be more active.</p>
                    <p>Digital by default - use 'if you can't get online' to promote digital by default, rather than preference for other channels.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="e" class="js-subsection-title">e<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="f" class="js-subsection-title">f<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="g" class="js-subsection-title">g<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="h" class="js-subsection-title">h<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="i" class="js-subsection-title">i<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
              <p>If - if important and results in branching then better to start with conditionals, people reading them can then discount the rest if not relevant</p>
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="j" class="js-subsection-title">j<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                <p>Jargon - if unavoidable then define using scare quotes, eg 'money to help you with difficulties at work (known as an 'Access to Work' grant)'</p>
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="k" class="js-subsection-title">k<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="l" class="js-subsection-title">l<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Licence - is a noun</p>
                    <p>License - is a verb</p>
                    <p>Lists - introduce lists with a lead that means each item would form a full sentence in isolation. If the list introduces a selection and this isn't possible use, 'one of the following:'</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="m" class="js-subsection-title">m<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
              <p>May - usually can be replaced with 'can'</p>
              <p>Might - people prefer certainty, but if you can't be certain than use might as long as you caveat it with a conditional. "You might be able to x, if you y"</p>
              <p>Mr, Mrs and other titles - always question the need for them, try to avoid</p>
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="n" class="js-subsection-title">n<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="o" class="js-subsection-title">o<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                <p>OK - it's fine to use it</p>
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="p" class="js-subsection-title">p<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>People - the preferred term for citizens or users.</p>
                    <p>Please - don't use please (or thank you). It reduces authority and is insincere.</p>
                    <p>Pronouns - users of services are referred to in the second person apart from in legal declarations when you should use the first person. Avoid using plural pronouns (we and us) for government unless not doing so would result in a passive construction. Preferably keep the user as the focus, eg say 'you'll get' rather than 'we'll send'.</p>
                    <p>Provide - banned word. Use give, send or something more active instead.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="q" class="js-subsection-title">q<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="r" class="js-subsection-title">r<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="s" class="js-subsection-title">s<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Sorry - only say sorry when something has gone wrong that's the fault of the service. For example a 500 page error because of server outage.</p>
                    <p>Statement answers - this type of selection answer in interactions often works better than yes and no, particularly if there's more than one clause in the question or more than 2 common responses in certain circumstances, for example 'Do you have a bank account?', 'Yes you have a bank account', 'No, but you plan to open one', 'No, you are unable to open one'.
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="t" class="js-subsection-title">t<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                  <p>Thank you - use sparingly, only on completion pages.</p>
                  <p>Timescales - people seem to prefer being given timescales to specifics, eg 'in 4 working days' worked better than 'by next Tuesday' on Access to Work. Don't put timescales in for the sake of it, 'you'll get a call in the next 24 hours' is unlikely to have much effect as users aren't that impatient.
            </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="u" class="js-subsection-title">u<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Users - refer to people as users when you're talking about research observations that are specific to a particular service, eg 'users of Carer's Allowance prefer to put their name in separate fields', otherwise use 'people' or 'citizens'.</p>
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="v" class="js-subsection-title">v<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="w" class="js-subsection-title">w<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="x" class="js-subsection-title">x<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
          <div class="js-openable closed">
          	<h2 id="y" class="js-subsection-title">y<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper">
                    <p>Yes - if using yes and no constructions be aware users usually want to answer 'yes' - design with data and make the most common case the 'yes' path unless you have user evidence it doesn't work - see statement answers</p> 
               </div>
          </div>
          <div class="js-openable closed">
          	<h2 id="z" class="js-subsection-title">z<span class="js-toggle"></span></h2>
          	<div class="js-subsection-body body-content-wrapper"></div>
          </div>
        </div>
      </div>
</div>
<!-- #manuals-frontend -->
</main>
{% endblock %}
